@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Jua&family=Quicksand:wght@400;700&family=Redressed&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

.background_image {
    background-image: url('/img/coming_soon_desktop.png');
}

@media only screen and (min-width: 400px) {
    .background_image {
        background-image: url('/img/coming_soon_smartphone.png');
    }
}