@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Jua&family=Quicksand:wght@400;700&family=Redressed&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

body {
    background-image: url('img/coming_soon_smartphone.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

@media only screen and (min-device-width: 400px) {
    body {
        background-image: url('img/coming_soon_desktop.png');
    }
}